@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image-contact {
  background-image: url(https://images.unsplash.com/photo-1551963831-b3b1ca40c98e);
  background-position-x: right;
  background-position-y: center;
}

div.sub-menu > div:nth-child(3) > ul {
  background-color: #151f33;
}
.slick-next:before,
.slick-prev:before {
  @apply text-primary;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  @apply text-primary;
}
